@model Prueba_Tecnica.Models.EmpleadoHabilidadViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EmpleadoHabilidadViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAbility" class="control-label"></label>
                <input asp-for="IdAbility" class="form-control" />
                <span asp-validation-for="IdAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label"></label>
                <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"></label>
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
